

node_modules/
.expo/
.expo-shared/


../01-*/**/*
../02-*/**/*
../03-*/**/*
../04-*/**/*
../05-*/**/*
../06-*/**/*
../07-*/**/*
../09-*/**/*
../clase*/**/*
../**/*

*.log
*.tmp
*.temp

node_modules/**/*
android/**/*
ios/**/*
.expo/**/*
.expo-shared/**/*

.git/
.vscode/
.idea/

.DS_Store
Thumbs.db

dist/
build/

*.log
.vscode/**/*
.idea/**/*
.gradle/**/*
build/**/*
dist/**/*


android/.gradle/
android/app/build/
android/.cxx/
ios/Pods/
ios/build/

*.jks
*.keystore
.DS_Store

coverage/**/*
__tests__/**/*
*.test.js
*.spec.js

../**/*